[Desktop Entry]
Type=Application
Name=qEditor
Comment=Text editor made in qt
Icon=acessories-text-editor
Exec=qEditor
TryExec=qEditor
Categories=Qt;Development;IDE;TextEditor;
